.footer {
    width: 100vw;
    background-color: #3058A6;
    color: white;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    // margin-top: 5rem;
    .ant-row{
        width: 100%;
        padding: 8px 3rem;
        .ant-col{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            .footer-content{
                
                h2{
                    font-size: 30px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 15px;
                    font-weight: 20px;
                    padding: 5px 0px;
                }
                padding: 15px 15px;
            }
        }
    }
    .footer-bottom {
        text-align: center;
        padding: 1rem 0;
    
        .footer-bottom-text {
          span.footer-bottom-highlight {
            color: #4aa4e0;
          }
        }
      }
  }
  