.product-detail-container{
    .product-detail-content{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F5FEFE;
        .product-detail-header{
            padding: 10px  10px;
            margin-top: 20px;
            background-color: white;
            width: 80%;
        }
    }
}