.term-of-use-container{
    .term-of-use-content{
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         align-items: flex-start;
         padding: 50px 80px;
         .content{
            display: flex;
            flex-direction: column;
            gap: 8px;
         }
    }
}